# 6. 리스트(List) 와 Tuple

## List 구조

- 일상생활에서 흔히 볼 수 있는 자료구조 (Data Structure)

        예) 할일 목록 (to-do list), 식료품 구입 리스트, 초대장 리스트, 소원목록 (wish list), 국가 목록 등.

-  List 는 top-10 list 처럼 순서가 있을 수도 있고, 친구 목록처럼 순서가 없을 수도 있음.


- List 의 항목들을 요소 (element) 라고 한다.


-  Python 문법에서 list 는 대괄호 (bracket) 로 표시하고 element 는 콤마(,) 로 구분하여 대괄호안에 위치함.


-  List 의 element 는 지금까지 배운 Python 의 모든 자료형과 함수가 사용될 수 있음.

In [1]:
x = [1, 2, 3, 4]

In [2]:
print(x)

[1, 2, 3, 4]

In [3]:
y = [1, 'two', 6/2]

In [4]:
print(y)

[1, 'two', 3.0]

In [5]:
def f(n):
    return [n, n * 2, n * 3, n * 4]

In [6]:
print(f(3))

[3, 6, 9, 12]

### 여러개의 list 를 결합

In [10]:
c = ['z', 'y', 'w'] + ['a', 'c', 'b']
c

['z', 'y', 'w', 'a', 'c', 'b']

### list 의 원소(element) 갯수

In [11]:
len(c)

6

### list 원소(element) 추가 / 확장

In [12]:
d = []

In [15]:
d.append('first')

In [16]:
d

['first']

In [17]:
d.extend(c)

In [18]:
d

['first', 'z', 'y', 'w', 'a', 'c', 'b']

### list 내의 list

In [20]:
d.append(['second, third'])
d

['first', 'z', 'y', 'w', 'a', 'c', 'b', ['second, third']]

### list element 의 변수 assign

In [22]:
[x, y, z] = 1, 2, 3
print(x, y, z)

1 2 3

In [23]:
r, s, t = [1, 2, 3]
print(r, s, t)

1 2 3

In [24]:
u = [1, 2, 3]
j, k, l = u
print(j, k, l)

1 2 3

### list methods

In [27]:
print(c)

['z', 'y', 'w', 'a', 'c', 'b']

In [28]:
c.sort()

In [29]:
print(c)

['a', 'b', 'c', 'w', 'y', 'z']

In [30]:
c.sort(reverse=True)
c

['z', 'y', 'w', 'c', 'b', 'a']

In [31]:
sum(xlist)

6

In [32]:
max(xlist)

3

In [33]:
min(xlist)

1

## List 의 indexing

### list 를 구성하는 element 들은 위치에 따라 index 로 접근할 수 있다.
### index 는 대괄호(bracket)안에 정수(integer) 로 표시
### Python 의 index 는 0 부터 시작하는 양수 혹은 -1 부터 시작하는 음수로 표시할 수 있다.
        0   1     2     3     4    5 
    +---+---+---+---+---+---+
    |  H |  e  |  l  |   l |  o |  ! |
    +---+---+---+---+---+---+
      -6    -5    -4   -3   -2   -1

In [120]:
x = ['H', 'e', 'l', 'l', 'o', '!']

In [121]:
x[0]

'H'

In [122]:
x[5]

'!'

In [124]:
x[-1]

'!'

In [125]:
x[3] = 4

In [126]:
print(x)

['H', 'e', 'l', 4, 'o', '!']

In [127]:
x[-2]

'o'

In [128]:
animals = [['dog', 'Ruby', 7], ['cat', 'Nero', 3], ['dog', 'John', 5], ['bird', 'Seagal', 2]]

In [129]:
animals[2]

['dog', 'John', 5]

In [130]:
animals[2][2]

5

In [131]:
kind, name, age = animals[-1]

In [132]:
print(kind, name, age)

bird Seagal 2

## 인덱스 (Index) 를 이용한 list 의 element 자르기 (slicing)


### list 의 일부분을 범위 지정할 수 있다.
    list[start : end]   => start ~ end-1
    list[start:]      => start ~ 끝까지
    list[:end]        => 처음 ~ end-1
    list[:]           => list 전체
    
### 증가분 (increment) 를 지정하면 더욱 다양한 slicing 이 가능하다.
    list[start : end : increment]
    
### increment 가 음수 (-) 이면 뒤에서부터 거꾸로 처리한다.

In [133]:
x = [1, 2, 3, 4, 5, 6]

In [134]:
y = x[0:2]
print(y)

[1, 2]

In [135]:
x[2:4]

[3, 4]

In [136]:
x[2:]

[3, 4, 5, 6]

In [137]:
x[:]

[1, 2, 3, 4, 5, 6]

In [138]:
x[-3:]

[4, 5, 6]

In [139]:
x[2:-1]

[3, 4, 5]

In [140]:
s = [1,2,3,4,5,6,7,8,9,10]
python = ['p','y','t','h','o','n']

In [141]:
s[:: 2]

[1, 3, 5, 7, 9]

In [142]:
python[::2]

['p', 't', 'o']

In [146]:
animals

[['dog', 'Ruby', 7],
 ['cat', 'Nero', 3],
 ['dog', 'John', 5],
 ['bird', 'Seagal', 2]]

In [147]:
animals[1][0]

'cat'

In [148]:
animals[-1][2]

2

## 튜플 (Tuple) 

### 튜플은 element 값을 변경할 수 없는 list 이다.

- Mutable : 값을 변경 가능 (list, variable)

- Immutable : 값을 변경 불가능 (tuple)

### tuple 은 괄호 (  ) 로 element 들을 감싸준다.

### element 를 변경할 수 없는 것 이외의 operation 은 list 와 거의 유사함.

### Tuple 과 List 비교

In [152]:
ytuple = (1, 2, 3, 4)

In [153]:
ytuple[1:4]

(2, 3, 4)

In [154]:
ytuple[-1]

4

In [155]:
ytuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

### tuple merge

In [156]:
z = ('a','b')

In [157]:
new_tuple = ytuple + z
new_tuple

(1, 2, 3, 4, 'a', 'b')

### tuple 생성

In [158]:
t = 1, "two", 3+4

In [159]:
t

(1, 'two', 7)

In [160]:
type(t)

tuple

### tuple 정렬 (sort)

In [161]:
changed_tuple = my_tuple + ('banaba',)

In [162]:
changed_tuple

('cat', 'dog', 'apple', 'banaba')

In [163]:
changed_tuple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [164]:
sorted(changed_tuple)

['apple', 'banaba', 'cat', 'dog']

## List / Tuple 연습문제

1) 다음 프로그램의 결과값은 ? (난이도하)

    xlist = []
    xlist.append('Good')
    xlist.append('Morning')
    print(xlist)
    
    xlist.append([3, 4])
    print(xlist)
    
2) 다음 list 의 element 를 오름차순으로 정렬 (ascending sort) 한다. 또한, 내림차순 (descending order)으로 정렬한다. sort(), sort(reverse=True) 함수를 사용한다.  (난이도 하)
    
    xlist = [2, 1, 3, 5, 4]
    
3) 두개의 list element 들을 짝을 지워 출력  (난이도 중)

stocks = ['삼성전자', '대한항공', 'google', 'apple']  
close = [40000, 2000, 50000, 100000]