# 7. for-loop (반복문)

#### for 문을 이용하여 반복 처리를 할 수 있다.

#### Python 에서는 for-loop 을 이용하여 list 내의 element 들을 순차적으로 처리할 수 있다.
#### list 와 같이 한번에 한개씩의 element 를 반환하는 자료형태를 iterable (반복형태) 이라고 부른다.
#### Python 의 iterable 은 list, tuple, dictionary, range() 함수
#### Python 의  for loop 의 문법은 다음과 같음.

>for 변수 in 리스트(또는 튜플, 문자열):  
>>수행할 문장1  
>>수행할 문장2

#### range( ) 함수는 파라미터 (parameter) 로 받은 숫자 범위의 연속된 정수를 반환함.
#### 문법
    range([start,] stop [, increment] ) 
#### list( ) 함수는 range( ) 함수의 반환값을 list 로 변환해 줌.

## list 와 for-loop

In [1]:
fruits = ["apple", "orange", "banana", "mango", "pear"]

In [2]:
for fruit in fruits:
    print("I love", fruit)

I love apple
I love orange
I love banana
I love mango
I love pear

In [3]:
count = 0
for _ in fruits:
    count += 1
print(count)

5

In [4]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum = 0
for n in x:
    sum = sum + n
print(sum)

55

In [5]:
for n in x:
    print(n, end="")

12345678910

In [6]:
list_items = ['1st', '2nd', '3rd', '4th', '5th', '6th']
index = [0,1,2,3,4,5]
for i in index:
    print(list_items[i])

1st
2nd
3rd
4th
5th
6th

## range() 함수

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list(range(0, 10, 1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [10]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [11]:
for i in range(5):
    print(i)

0
1
2
3
4

In [12]:
order = ['1st', '2nd', '3rd', '4th', '5th']
for i in range(len(order)):
    print(i, order[i])

0 1st
1 2nd
2 3rd
3 4th
4 5th

In [15]:
sum = 0
for i in range(1, 11):
    sum = sum + i
print(sum)

55

In [16]:
xtuple = (1, 'two', 2)
for e in xtuple:
    print(e)

1
two
2

## enumerate() 함수

In [17]:
list(enumerate(reversed(order)))

[(0, '5th'), (1, '4th'), (2, '3rd'), (3, '2nd'), (4, '1st')]

In [18]:
for i, ord in enumerate(reversed(order)):
    print(i, ord)

0 5th
1 4th
2 3rd
3 2nd
4 1st

## 연습문제

1) 다음 문장 수행 후의 output 은 ?  (난이도 하)

    xlist = [1, [1, 2], [1, 2, 3]]
    print(xlist[1][1] + 1)

2) 다음 문장 수행 후의 output 은 ?  (난이도 하)
    
    def sum_part(xlist, n):
        sum = 0
        for x in xlist[n]:
            sum = sum + x
        return sum
        
    ylist = [[1, 2], [3, 4], [5, 6], [7, 8]]
    x = sum_part(ylist, 2)
    print(x)