# 18. List Comprehension (리스트 컴프리헨션)

- list_variable = [x for x in iterable] 과 같이 list 내에  for loop 표현식을 사용하여 쉽게 새로운 list 를 생성할 수 있다. 

- list comprehension 을 사용하면 for loop 과 map, filter 함수를 대체할 수 있다.

- list comprehension 내에서 if ~ else ~ 를 사용할 수 있다.

In [1]:
nums = [1, 2, 3, 4]

squares = [n **2 for n in nums]

print(squares)

[1, 4, 9, 16]

In [2]:
strs = ['hello', 'and', 'goodbye']

shouting = [s.upper() + '!!!' for s in strs]

print(shouting)

['HELLO!!!', 'AND!!!', 'GOODBYE!!!']

In [3]:
nums = [2, 8, 1, 6]

small = [n for n in nums if n <= 2]

small

[2, 1]

In [4]:
# a 가 포함된 과일명을 대문자로 바꾸기
fruits = ['apple', 'banana', 'cherry', 'lemon']

[fruit.upper() for fruit in fruits if 'a' in fruit]

['APPLE', 'BANANA']

In [5]:
# 1-50 까지의 홀수 list 작성 
# using for loop & 조건문
result = []
for i in range(1, 51):
    if i % 2 == 1:
        result.append(i)
print(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [6]:
# using list comprehension
a = [x for x in range(1, 51) if x % 2 == 1]
print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

### list comprehension 내의 if, else

In [1]:
[x if x > 5  else x * 2 for x in [1,2,3,4,5,6,7,8,9]]

[2, 4, 6, 8, 10, 6, 7, 8, 9]

### 연습문제

alist = [('x', 4), ('s', 5), ('a', 4), ('t', 5), ('k', 4), ('w', 5)] 와 같이 tuple element 로 구성된 list 에서 tuple 의 첫번째 element 가  'a' 인 tuple 이 alist 의 몇번째  element 인지 구하라. 단, for loop 과 비교문을 사용하지 않고 list comprehension 을 사용. (난이도 상)
 
-(Hint) enumerate : list 를 index, element tuple 로 반환

In [21]:
alist = ['a', 'b', 'c', 'd'] 
list(enumerate(alist))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd')]

In [20]:
alist = [('x', 4), ('s', 5), ('a', 4), ('t', 5), ('k', 4), ('w', 5), ('a', 4)] 

# CODE HERE

$ $

## filter 를 대체하는 list comprehension

In [1]:
list(filter(lambda x: x > 5 , [1, 2, 3, 4, 5, 6, 7, 8, 9]))

[6, 7, 8, 9]

In [2]:
[x for x in [1, 2, 3, 4, 5, 6, 7, 8, 9] if x > 5]

[6, 7, 8, 9]

In [3]:
list(filter(lambda x: x.startswith('김'), ['김갑돌', '김성환', '오영제', '한영기']))

['김갑돌', '김성환']

In [4]:
[x for x in ['김갑돌', '김성환', '오영제', '한영기'] if x.startswith('김')]

['김갑돌', '김성환']

In [5]:
foo = [1, 18, 9, 22, 17, 24, 8, 27]

list(filter(lambda x: x%3 == 0, foo))

[18, 9, 24, 27]

In [6]:
[x for x in foo if x % 3 == 0]

[18, 9, 24, 27]